NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_ROOM_TRANSPORT=magicblock
NEXT_PUBLIC_MAGICBLOCK_ROUTER_HTTP_URL=https://devnet-router.magicblock.app
NEXT_PUBLIC_MAGICBLOCK_ROUTER_WS_URL=wss://devnet-router.magicblock.app
NEXT_PUBLIC_MAGICBLOCK_VALIDATOR=MUS3hc9TCw4cGC12vHNoYcCGzJG1txjgQLZWVoeNHNd
NEXT_PUBLIC_MAGICBLOCK_DELEGATION_PROGRAM_ID=DELeGGvXpWV2fqJUhqcF5ZSYMS4JTLjteaAMARRSaeSh
NEXT_PUBLIC_ROOM_PROGRAM_ID=
